Repository google/shaderc, pull requests merged in 2019-11, with the labels that each got.

#856 Add flag for updating invalid expecations and rewrite end logic
  spvc/test/known_failures
  spvc/test/known_invalids
  spvc/test/run_spirv_cross_tests.py
Labels: enhancement

#861 Add --emit-line-drective option
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvcir_pass.cc
  spvc/src/main.cc
  spvc/test/known_failures
  spvc/test/run_spirv_cross_tests.py
Labels: spvc

#862 Rolling 5 dependencies
  DEPS
  glslc/test/assembly.py
  glslc/test/expect.py
  glslc/test/option_dash_cap_O.py
  libshaderc/src/common_shaders_for_test.h
  spvc/test/known_failures
Labels: deps

#866 Add unit test for spvcir parser
  libshaderc_spvc/src/spvcir_test.cc
Labels: spvc

#865 Move spirv_cross state out of result and rename opaque state handle
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_cpp_test.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
  libshaderc_spvc/src/spvc_smoke_test_util.c
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_cpp_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
  spvc/src/main.cc
Labels: refactoring, spvc

#870 Remove deprecated API elements
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_cpp_test.cc
  libshaderc_spvc/src/spvc_webgpu_cpp_test.cc
  spvc/src/main.cc
Labels: refactoring, spvc

#871 Another major API rework
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_cpp_test.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
  libshaderc_spvc/src/spvc_smoke_test_util.c
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_cpp_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
Labels: enhancement, refactoring, spvc

#876 Correct Unicode issues with add_copyright.py
  libshaderc_spvc/src/spvcir_pass.cc
Labels: bugfix

#878 Remove deprecated items from result/message refactoring
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  spvc/src/main.cc
Labels: refactoring

#879 Rolling 5 dependencies and updating expectations
  DEPS
  spvc/test/known_failures
  spvc/test/known_invalids
  spvc/test/unconfirmed_invalids
Labels: deps

#882 Split spvc shader generation into initialize and compile phases
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_cpp_test.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
  libshaderc_spvc/src/spvc_smoke_test_util.c
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_cpp_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
  spvc/src/main.cc
Labels: enhancement, refactoring, spvc

#884 Expose spirv_cross compiler to ease integration into Dawn
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, refactoring, spvc

#883 Remove the deprectated all-in-one generation API
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, spvc

#893 Add access to MSL options needed by Dawn
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, spvc

#896 Migrate away from nosetest to unittest
  DEPS
  README.md
  cmake/setup_build.cmake
  cmake/utils.cmake
  glslc/test/CMakeLists.txt
  glslc/test/expect.py
  glslc/test/expect_nosetest.py
  glslc/test/expect_unittest.py
  glslc/test/glslc_test_framework.py
  glslc/test/glslc_test_framework_nosetest.py
  glslc/test/glslc_test_framework_unittest.py
  glslc/test/option_dash_M.py
Labels: bugfix

#897 Rolling 4 dependencies
  DEPS
Labels: deps

#901 Convert spvc parser flag from build time to runtime
  BUILD.gn
  CMakeLists.txt
  libshaderc_spvc/CMakeLists.txt
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
  spvc/src/main.cc
  spvc/test/CMakeLists.txt
  spvc/test/run_spirv_cross_tests.py
Labels: spvc

#908 Rolling 5 dependencies
  DEPS
Labels: deps

#910 Disable shaderc library target in BUILD.gn
  BUILD.gn
Labels: spvc

#911 Moving spirv-cross dep from Dawn into shaderc
  BUILD.gn
  build_overrides/shaderc.gni
Labels: spvc

#914 Remove spvc's dependency on shaderc's util library
  BUILD.gn
  libshaderc_spvc/CMakeLists.txt
  libshaderc_spvc/src/spvc_private.cc
Labels: enhancement, refactoring, spvc
