Repository google/shaderc, pull requests merged in 2019-10, with the labels that each got.

#817 Rolling 4 dependencies
  DEPS
Labels: deps

#821 Add spvc compiler to returned result
  libshaderc_spvc/CMakeLists.txt
  libshaderc_spvc/src/common_shaders_for_test.h
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
Labels: spvc

#823 spvc: Add known_invalid file
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_private.h
  spvc/src/main.cc
  spvc/test/known_failures
  spvc/test/known_invalids
  spvc/test/run_spirv_cross_tests.py
  spvc/test/unconfirmed_invalids
Labels: spvc

#816 spvc: Add an empty opt pass
  CMakeLists.txt
  libshaderc_spvc/CMakeLists.txt
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvcir_pass.cpp
  libshaderc_spvc/src/spvcir_pass.h
Labels: spvc

#831 Roll spirv-cross ahead and update known_failures to fix build breakage
  DEPS
  spvc/test/known_failures
Labels: bugfix, deps

#835 Fix various build issues for chromium & dawn
  BUILD.gn
  build_overrides/shaderc.gni
  libshaderc_spvc/CMakeLists.txt
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvcir_pass.cc
Labels: bugfix, spvc

#828 Add spvc compiler to returned result
  BUILD.gn
  CMakeLists.txt
  libshaderc_spvc/CMakeLists.txt
  libshaderc_spvc/src/common_shaders_for_test.h
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
  third_party/CMakeLists.txt
Labels: spvc

#836 Rolling 5 dependencies
  DEPS
Labels: deps

#840 Rolling 5 dependencies and update known_failures & known_invalids
  DEPS
  spvc/test/known_failures
  spvc/test/known_invalids
Labels: deps

#844 Rolling 4 dependencies, small script fix and updating expectation files
  DEPS
  spvc/test/known_failures
  spvc/test/run_spirv_cross_tests.py
  spvc/test/unconfirmed_invalids
Labels: deps

#849 Rolling 5 dependencies & expectation files
  DEPS
  spvc/test/known_failures
  spvc/test/unconfirmed_invalids
Labels: deps

#852 Refactor file reading code into common utility method
  spvc/test/run_spirv_cross_tests.py
Labels: spvc
