Repository google/shaderc, pull requests merged in 2019-12, with the labels that each got.

#918 Create spvc specific return codes and use them
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_cpp_test.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
  libshaderc_spvc/src/spvc_smoke_test_util.c
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_cpp_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
Labels: refactoring, spvc

#923 Convert spvc return codes to their own enum
  libshaderc_spvc/include/spvc/spvc.h
  spvc/src/main.cc
Labels: refactoring, spvc

#924 Add missing APIs for HLSL support in Dawn - set_decoration
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
Labels: enhancement, spvc

#926 Remove unused variable from C++ API
  libshaderc_spvc/include/spvc/spvc.hpp
Labels: enhancement, spvc

#927 Change from old status type in the API
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_private.cc
  libshaderc_spvc/src/spvc_private.h
Labels: enhancement, spvc

#929 Rolling 4 dependencies & updating expectations
  DEPS
  spvc/test/known_spvc_failures
  spvc/test/unconfirmed_invalids
Labels: deps

#933 Rolling 5 dependencies
  DEPS
Labels: deps

#936 Implement a C++ only version for ForEachCombinedImageSamplers
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, spvc

#940 Convert enum from BLOCK_STYLE to snake_style
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/src/spvc_private.cc
Labels: refactoring, spvc

#938 Replace callback interface with data one for combined image samplers
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, spvc

#942 Rolling 4 dependencies
  DEPS
Labels: deps

#943 Adding in missing APIs for MSL support in Dawn
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: spvc
