Repository google/shaderc, pull requests merged in 2019-09, with the labels that each got.

#796 Rolling 5 dependencies and updating known_failures
  DEPS
  spvc/test/known_failures
Labels: deps

#795 Use agreed upon include paths for spirv-cross
  libshaderc_spvc/src/spvc_private.h
Labels: enhancement, spvc

#799 Pass in source not target env into spirv-opt
  libshaderc_spvc/src/spvc_private.cc
Labels: bugfix

#801 Remove unsetting compiler check variables
  CMakeLists.txt
  third_party/CMakeLists.txt
Labels: enhancement

#797 Improve testing .asm., .nocompat., and .vk. chases
  spvc/test/known_failures
  spvc/test/run_spirv_cross_tests.py
Labels: enhancement, spvc

#803 Rolling 4 dependencies and update known_failures
  DEPS
  spvc/test/known_failures
Labels: deps

#808 Code hygiene work for spvc
  BUILD.gn
  libshaderc_spvc/CMakeLists.txt
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc_cpp_test.cc
  libshaderc_spvc/src/spvc_private.h
  libshaderc_spvc/src/spvc_smoke_test_util.c
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_cpp_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
  spvc/src/main.cc
Labels: refactoring

#809 Rolling 6 dependencies and update known_failures
  DEPS
  spvc/test/known_failures
Labels: deps

#812 Rolling 2 dependencies
  DEPS
Labels: deps

#811 Another round of cleaning the spvc test script
  spvc/test/known_failures
  spvc/test/run_spirv_cross_tests.py
Labels: enhancement, spvc

#813 Add --update_known_failures to spvc test script
  spvc/test/known_failures
  spvc/test/run_spirv_cross_tests.py
Labels: enhancement, spvc

#815 Add logging missing failures to spvc test script
  spvc/test/run_spirv_cross_tests.py
Labels: enhancement, spvc
