Repository google/shaderc, pull requests merged in 2020-06, with the labels that each got.

#1077 Roll third_party/spirv-cross/ 61cddd630..d385bf096 (4 commits)
  DEPS
Labels: deps, spvc

#1076 Support forcing storage buffers to be always declared as UAV
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: kokoro:run, spvc

#1078 Rolling 5 dependencies
  DEPS
Labels: deps

#1085 Rolling 5 dependencies
  DEPS
Labels: deps

#1086 Add support for different default/trunks in roll-deps
  utils/roll-deps
Labels: deps, enhancement

#1087 Roll 5 dependencies and update tests/expectations
  DEPS
  glslc/test/assembly.py
  glslc/test/expect.py
  glslc/test/option_dash_cap_O.py
  glslc/test/option_dash_o.py
  libshaderc/src/common_shaders_for_test.h
  spvc/test/known_failures
  spvc/test/known_invalids
  spvc/test/known_spvc_failures
Labels: deps
