Repository google/shaderc, pull requests merged in 2020-05, with the labels that each got.

#1057 Rolling 5 dependencies and fixing build
  DEPS
  libshaderc_util/src/resources.cc
Labels: deps

#1060 Add .NET bindings to README.md
  README.md
Labels: documentation

#1059 Remove Singleton pattern around access to glslang
  libshaderc/src/shaderc.cc
  libshaderc/src/shaderc_private.h
  libshaderc_util/include/libshaderc_util/compiler.h
  libshaderc_util/src/compiler.cc
  libshaderc_util/src/compiler_test.cc
Labels: bugfix

#1061 Only add -fPIC if supported by the compiler.
  cmake/utils.cmake
Labels: bugfix

#1062 Rolling 4 dependencies
  DEPS
Labels: deps

#1073 Rolling 6 dependencies and update expectations
  DEPS
  spvc/test/known_failures
  spvc/test/known_spvc_failures
Labels: deps

#1074 Rolling 4 dependencies and expectations
  DEPS
  spvc/test/known_failures
  spvc/test/known_spvc_failures
Labels: deps
