Repository google/shaderc, pull requests merged in 2020-03, with the labels that each got.

#990 Rolling 6 dependencies and updating expectations
  DEPS
  spvc/test/known_failures
  spvc/test/known_spvc_failures
  spvc/test/unconfirmed_invalids
Labels: deps

#993 Remove deprecated methods no longer used by Dawn
  libshaderc_spvc/include/spvc/spvc.hpp
Labels: refactoring, spvc

#997 Rolling 5 dependencies and updating expectations
  DEPS
  spvc/test/known_failures
  spvc/test/known_spvc_failures
Labels: deps

#999 Rolling 2 dependencies
  DEPS
Labels: bugfix, deps

#1001 Add reflection support for storage textures
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, spvc

#1002 Rolling 4 dependencies
  DEPS
Labels: spvc

#1005 Add support for storage texture format reflection
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, spvc

#1014 Rolling 5 dependencies
  DEPS
  spvc/test/known_spvc_failures
Labels: deps

#1012 Add message about status of artifacts to downloads.md
  downloads.md
Labels: documentation

#1019 Convert compile options to require explicit environments
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
  libshaderc_spvc/src/spvc_smoke_test_util.c
  libshaderc_spvc/src/spvc_test.cc
  libshaderc_spvc/src/spvc_webgpu_cpp_test.cc
  libshaderc_spvc/src/spvc_webgpu_test.cc
  spvc/src/main.cc
Labels: enhancement, refactoring, spvc

#1021 Add support for WebGPU to shaderc
  libshaderc/src/shaderc.cc
  libshaderc_util/include/libshaderc_util/compiler.h
  libshaderc_util/include/libshaderc_util/spirv_tools_wrapper.h
  libshaderc_util/src/compiler.cc
  libshaderc_util/src/spirv_tools_wrapper.cc
Labels: enhancement

#1024 Roll glslang dependency to SDK-candidate tag
  DEPS
Labels: deps

#1026 Rolling 5 dependencies and updated expectations
  DEPS
  spvc/test/known_failures
  spvc/test/known_spvc_failures
Labels: deps

#1028 Add knob to control force_zero_initialized_variables
  libshaderc_spvc/include/spvc/spvc.h
  libshaderc_spvc/include/spvc/spvc.hpp
  libshaderc_spvc/src/spvc.cc
Labels: enhancement, spvc
